<%= form_tag (
  {controller: 'products',
  action: 'add',
  method: 'post'}
  ) %>
<%= text_field_tag :product %>
<%= submit_tag 'add to cart this item' %>

Your cart:
<% cart.each do |i| %>
  <p><%= i %></p>
<% end %>
